@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2d2eba;
    height: 120px;
}

.titulo  {
    font-size: 3rem;
    color: #fff;
    background-color: #2d2eba;
    font-family: 'Rubik Mono One', sans-serif;
}


.img {
    width: 300px;
    height: 200px;
}

.nav {
    display: flex;
    font-family: 'Rubik Mono One', sans-serif;
}
.menu {
    list-style: none;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
}

